<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPa2WpWcghkeRvtqNDZr9VUdvdfttUWig</string>
	<key>GCM_SENDER_ID</key>
	<string>205383182979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>inc.imalpha.wato</string>
	<key>PROJECT_ID</key>
	<string>wato-d7470</string>
	<key>STORAGE_BUCKET</key>
	<string>wato-d7470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205383182979:ios:3b827a3fc17f9cf8d2c9b6</string>
</dict>
</plist>